@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
.spaceAroundContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app-landing-footer {
  height: 133px;
  padding: 36px;
  background-color: white;
}
.app-landing-footer span {
  margin: 16px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .app-landing-footer .landing-footer-image {
    display: none;
  }
}

.social-media-icon {
  margin: 0 8px;
}

.selected-link {
  color: #FA4A0C !important;
}

.landing-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 90px 40px;
  margin: 25px 0;
  min-width: 320px;
}
@media (max-width: 768px) {
  .landing-header-container {
    padding: 0 16px;
    margin-top: 17px;
    margin-bottom: 67px;
  }
}
.landing-header-container a {
  font-weight: 600;
}
@media (max-width: 768px) {
  .landing-header-container .landing-header-logo {
    width: 25%;
    min-width: 105px;
  }
}
.landing-header-container .landing-header-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
@media (max-width: 768px) {
  .landing-header-container .landing-header-list {
    display: none;
  }
}
.landing-header-container .landing-header-list li {
  padding: 0 3.5vw;
}
.landing-header-container .landing-header-list li a {
  text-decoration: none;
  color: #252B42;
}
.landing-header-container .landing-header-list li a:active {
  color: #FA4A0C;
}
.landing-header-container .burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .landing-header-container .burger-menu {
    display: block;
  }
}

.landing-hero-container {
  color: white;
  margin-bottom: -90px;
  box-sizing: border-box;
  min-width: 320px;
  height: 620px;
  padding: 70px 10px;
  background-image: url(./src/assets/images/hero-background.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media (max-width: 984px) {
  .landing-hero-container {
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .landing-hero-container {
    margin-bottom: 80px;
    height: unset;
    padding: 0px 11px;
    background-image: none;
  }
}
.landing-hero-container a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.landing-hero-container a:active {
  color: #FA4A0C;
}
.landing-hero-container .top-hero-heading {
  font-size: 24px;
  margin-bottom: 17px;
  color: #F6F6F6;
}
@media (max-width: 768px) {
  .landing-hero-container .top-hero-heading {
    font-size: 16px;
    color: #737373;
  }
}
.landing-hero-container .middle-hero-heading {
  white-space: pre-line;
  font-size: 58px;
  margin-bottom: 27px;
}
@media (max-width: 768px) {
  .landing-hero-container .middle-hero-heading {
    font-size: 36px;
    color: #252B42;
    white-space: normal;
  }
}
.landing-hero-container .p-hero-heading {
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: 500;
  color: #F6F6F6;
}
@media (max-width: 768px) {
  .landing-hero-container .p-hero-heading {
    color: #737373;
  }
}
.landing-hero-container .hero-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .landing-hero-container .hero-button-container {
    flex-direction: column;
  }
}
.landing-hero-container .hero-button-container .hero-playstore-button {
  width: 235px;
  min-width: 165px;
  height: 68px;
  line-height: 68px;
  font-size: 24px;
  background-color: #FA4A0C;
  border: #FA4A0C 1px solid;
  border-radius: 30px;
  margin: 0 17px;
}
@media (max-width: 768px) {
  .landing-hero-container .hero-button-container .hero-playstore-button {
    margin-bottom: 17px;
  }
}
.landing-hero-container .hero-button-container .hero-appstore-button {
  width: 235px;
  min-width: 165px;
  height: 68px;
  line-height: 68px;
  font-size: 24px;
  background-color: rgba(246, 246, 246, 0);
  border: #F6F6F6 1px solid;
  border-radius: 30px;
  margin: 0 17px;
}
@media (max-width: 768px) {
  .landing-hero-container .hero-button-container .hero-appstore-button {
    color: #FA4A0C;
    border: #FA4A0C 1px solid;
  }
}

.hero-phone-container {
  position: relative;
  margin: 0 auto;
  max-width: 550px;
  height: 600px;
}
@media (max-width: 768px) {
  .hero-phone-container {
    width: 400px;
  }
}
.hero-phone-container #left-phone {
  position: absolute;
  left: -50px;
  bottom: 120px;
  width: 299px;
  z-index: 1;
}
@media (max-width: 768px) {
  .hero-phone-container #left-phone {
    width: 230px;
    left: 0px;
    bottom: 220px;
  }
}
.hero-phone-container #right-phone {
  position: absolute;
  left: 210px;
  bottom: 0;
  top: 0;
  width: 285px;
  z-index: 0;
}
@media (max-width: 768px) {
  .hero-phone-container #right-phone {
    width: 219px;
    left: 200px;
  }
}

hr {
  max-width: 885px;
  margin: 0 auto;
}

* {
  margin: 0;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}