.how-the-app-works-section {
  background-color: white;
  margin: 40px;
  h2 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-weight: 600px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1 px;
    margin: 40px 0px;
}

.hr-desktop {
  border: 1px solid #e4e4e4;
  margin-bottom: 50px;
  width: 100%;
  max-width: 884px;
  margin: 0 auto;
  @media (max-width: 1440px){
    display: none;
  }
 
}

.hr-mobile {
  border: 1px solid #e4e4e4;
  margin-top: 50px;
  width: 100%;
  margin: 40px 0;
  
  
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
 

  .checkout-text-class {
    width: 100%;
    max-width: 560px;
    flex: 1;
  }

  h3 {
    color: #fa4a0c;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1 px;
    margin-bottom: 40px;
  }

  h2 {
    color: #252b42;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2 px;
    margin-bottom: 40px;
  }

  p {
    color: #737373;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2 px;
    margin-top: 34px 0 17px;
  }
  img {
    right: -45px;
    position: relative;
    margin: -75px 0;
  }
}

@media (min-width: 1440px) {
    .checkout {
      display: flex;
      flex-direction: row;
      text-align: left;
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;

      &:nth-child(2n ) {
        flex-direction: row-reverse;
      }
    }
}
}

@media (min-width: 1440px) {
    .hr-mobile {
        display: none;
        
 }

}

