@use "./common.scss";
@use "./landing-styles/footer.scss";
@use "./landing-styles/how-the-app-works-section.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
  background-color: white;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
