@import './src/styles/variables.scss';

.home-screen {  
    background-color: $primary-grey;
    min-width: 320px;

    .app-home-screen-header { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 74px 50px;
        padding-bottom: 0;
        margin-bottom: 43px;

    }
    
    .app-home-screen-heading {  
        padding: 0 50px;
        padding-right: 125px;
        margin-bottom: 28px;
        font-size: 34px;
    }

    .app-home-screen-search-container {    
        height: 60px;
        margin: 0 50px;
        margin-bottom: 30px;
        padding-left: 35px;
        background-color: #EFEEEE;
        border: 0;
        border-radius: 30px;

        .app-home-screen-search-icon {
            vertical-align: middle;
            padding-right: 15px;
            width: 30px;
        }

        .app-home-screen-search {  
            height: 60px;
            width: 78%;
            margin: 0 auto;
            background-color: #EFEEEE;
            border-radius: 30px;
            border: 0;
            outline: 0;
        }

    }

    .app-home-screen-category-container { 
        position: relative;
        display: flex;
        align-items: center;
        color: #9A9A9D;
        margin-bottom: 45px;
        list-style-type: none;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        font-weight: 500;

        &::-webkit-scrollbar {  
            display: none;
        }

        li {    
            scroll-snap-align: end;
            font-weight: 400;
            padding: 10px 0px;
            margin: 0 20px;
            border-bottom: transparent 3px solid;

            &:hover {  
                color: $primary-orange;
                border-bottom: $primary-orange 3px solid;
            }

            &:first-of-type {   
                margin-left: 75px;
            }

            a { 
                font-size: 17px;
                text-decoration: none;
                color: unset;
            }

        }

    }

    .app-home-see-more-container {   
        text-align: right;
        margin-bottom: 52px;
        padding: 0 40px;

        a { 
            font-size: 15px;
            color: $primary-orange;
        }

    }

    .app-home-screen-item-container {   
        position: relative;
        display: flex;
        padding-top: 50px;
        margin-top: -50px;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-bottom: 50px;
        background-color: $primary-grey;

        & > :first-child { 
            margin-left: 50px;
        }

        &::-webkit-scrollbar {  
            display: none;
        }

        .app-home-screen-item { 
            background-color: #FFFFFF;
            border-radius: 30px;
            text-align: center;
            margin-right: 35px;
            min-width: 220px;
            max-height: 270px;
            box-shadow: 1px 10px 20px 9px rgb(57 57 57 / 10%);

            img {   
                position: relative;
                width: 75%;
                top: -45px;
                border-radius: 100px;
                margin-bottom: -20px;
            }

            h3 {    
                padding: 0 40px;
                padding-bottom: 15px;
                font-size: 22px;
                white-space: pre-line;
            }

            p { 
                font-weight: 700;
                font-size: 17px;
                color: $primary-orange;
                padding-bottom: 39px;
            }

        }

    }

    .app-home-screen-footer-menu {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }

}
