@import './src/styles/variables.scss';

.navigation-screen {    
    background-color: $primary-orange;
    min-width: 320px;
    padding-top: 160px;
    padding-left: 40px;
    padding-bottom: 87px;

    .navigation-screen-nav-container {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        height: 100%;
        
    .navigation-screen-nav-buttons-container {  
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .navigation-menu a { 
            display: block;
            margin-bottom: 52px;
            font-weight: 600;
            color: white;
            position: relative;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 35px;
                display: inline-block;
                width: 75%;
                border-bottom: rgba(249, 108, 59) 1px solid;
            }

            &::before { 
                margin-right: 13px;
                position: relative;
                top: 4px;
            }

        }

        .navigation-screen-sign-out {   
            color: white;
            font-size: 17px;
            font-weight: 500;

            &::after {  
                content: url(/src/assets/icons/app-arrow-icon.svg);
                position: relative;
                left: 11px;
                top: 3px;
            }

        }

        #navigation-profile::before {
            content: url(/src/assets/icons/app-nav-profile-icon.svg);
        }

        #navigation-orders::before { 
            content: url(/src/assets/icons/app-nav-cart-icon.svg);
        }

        #navigation-promo::before { 
            content: url(/src/assets/icons/app-nav-promo-icon.svg);
        }

        #navigation-policy::before { 
            content: url(/src/assets/icons/app-nav-policy-icon.svg);
        }

        #navigation-security::before { 
            content: url(/src/assets/icons/app-nav-security-icon.svg);
        }

    }

    }

    .navigation-screen-image {  
        width: 260px;
        z-index: 1;
        border-radius: 40px;
        box-shadow: -35px 35px 0px -15px rgba(249, 108, 59);
        position: absolute;
        right: -110px;
    }

}