@import "./src/styles/vars.scss";

.navigation-screen {    
    background-color: $orange-color;
    padding-top: 160px;
    padding-left: 40px;
    padding-bottom: 87px;
    z-index: 2;
    overflow: hidden;

    .navigation-screen-nav-container {
        display: flex;
        justify-content: space-between;
        
    .navigation-screen-nav-buttons-container {  
        display: flex;
        flex-direction: column;

        a { 
            margin-bottom: 52px;
            font-weight: 600;
            color: white;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 35px;
                display: inline-block;
                width: 75%;
                border-bottom: #c4c2c2 1px solid;
            }

            &::before { 
                margin-right: 13px;
                position: relative;
                top: 4px;
            }

        }

        #navigation-profile::before {
            content: url(/src/assets/icons/app-nav-profile-icon.svg);
        }

        #navigation-orders::before { 
            content: url(/src/assets/icons/app-nav-cart-icon.svg);
        }

        #navigation-promo::before { 
            content: url(/src/assets/icons/app-nav-promo-icon.svg);
        }

        #navigation-policy::before { 
            content: url(/src/assets/icons/app-nav-policy-icon.svg);
        }

        #navigation-security::before { 
            content: url(/src/assets/icons/app-nav-security-icon.svg);
        }

    }

    }

    .navigation-screen-image {  
        width: 260px;
        z-index: 1;
        border-radius: 40px;
        box-shadow: -35px 35px 0px -15px rgba(249, 108, 59);
        position: absolute;
        right: -110px;
    }

    .navigation-screen-sign-out {   
        position: relative;
        top: 0px;
    }

}