@import "variables.scss";
@import "../components/button.scss";

.payment-info {
  background-color: $primary-grey-lighter;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .methods {
    margin-left: 49px;
    margin-bottom: 20px;
    margin-top: 19px;
  }

  input {
    width: 15px;
    height: 15px;
    border: 1px solid #9f9f9f;
    background-color: white;

    &:checked {
      accent-color: $primary-orange;
    }
  }

  .line {
    margin: 25px;
    border: 0.5px solid #000000;
    width: 232px;
    opacity: 0.3;
  }

  .line-two {
    margin: 15px;
    border: 0.5px solid #000000;
    width: 232px;
    opacity: 0.3;
  }

  label {
    padding: 11px;
  }

  .payment-info-header {
    margin: 61px 50px 42px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    img {
      position: absolute;
      left: 0;
      top: 25%;
    }

    h2 {
      font-size: 18px;
    }
  }

  .pay-text {
    margin-left: 50px;
    margin-bottom: 29px;
  }

  .payment-method {
    margin: 0 auto;
    padding: 20px 21px;
    background-color: white;
    width: 315px;
    border-radius: 20px;

    .option {
      display: flex;
      align-items: center;
    }

    .card-img {
      padding: 13px;
      width: 40px;
      height: 40px;
      background: #f47b0a;
      border-radius: 10px;
      margin-left: 15px;
    }

    .bank-img {
      padding: 13px;
      width: 40px;
      height: 40px;
      background: #eb4796;
      border-radius: 10px;
      margin-left: 15px;
    }
  }

  .delivery-method {
    margin: 0 auto;
    background-color: white;
    width: 315px;
    height: 156px;
    border-radius: 20px;
    padding: 31px 21px;
  }

  .total-price {
    display: flex;
    justify-content: space-between;
    margin: 41px 50px 0;
    p {
      font-size: 17px;
    }

    h1 {
      font-size: 22px;
    }
  }

  .payment-button {
    margin: 0 auto;
    margin-top: 41px;
    background-color: $primary-orange;
    color: white;
    display: block;
  }
}
