@use "../mixins.scss" as mixins;

.starting-menu {
  background-color: #ff4b3a;
  height: 100vh;
  width: 100%;
  @include mixins.flexColumn;
  justify-content: space-between;
  text-align: center;
  

  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 65px;
    color: white;
  }

  img {
    position: ;
  }
}
